# frontend
frontend/node_modules/
frontend/dist/

# backend
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/

# env
.env
*.env

# editor
.vscode/
.idea/

# system
.DS_Store
Thumbs.db